<div class="section" id="projects">
    <div class="container cc-education">
        <div class="h4 text-center mb-4 title">Artículos</div>
            <div class="card">
                <div class="row">
                    <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
                        <div class="card-body">
                            <img src="https://miro.medium.com/max/4800/1*NXy_nc-cHrecaS4vdwbRcQ.png" alt="Imagen">
                        </div>    
                    </div>
                    <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                        <div class="card-body">
                            <div class="h4"><a href="https://medium.com/@borisvargas/instalaci%C3%B3n-debian-zurg-abbe3d608cf3" target="_blank">Instalación Debian Zurg </a></div>
                                <h4 class="category">Artículo</h4>
                                <ul>
                                    <li><b>Publicado: </b>19-02-2020</li>
                                </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="row">
                    <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
                        <div class="card-body cc-education-header">
                            <img src="https://miro.medium.com/max/4800/1*-lPpk2pin6HSJBoexy05pA.jpeg" alt="Imagen">
                        </div>    
                    </div>
                    <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                        <div class="card-body">
                            <div class="h4"><a href="https://medium.com/@borisvargas/google-cloud-compute-engine-y-nic-bo-79d8e0a3aad9" target="_blank">Google Cloud Compute Engine y NIC.bo</a></div>
                            <h4 class="category">Artículo</h4>
                            <ul>
                                <li><b>Publicado: </b>23-09-2020</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</div>                                               