<div class="section" id="experience">
    <div class="container py-2 cc-experience">
        <div class="h4 text-center mb-4 title">Experiencia laboral</div>
                <div class="row">
                    <ul class="timeline">
                        <li>    
                            <div class="timeline-badge up bg-green">
                                <i class="fas fa-check"></i>
                            </div>
                            <div class="timeline-panel">
                                <div class="row">
                                    <div class="col-lg-6 ">
                                        <div class="h5 mt-0 title">Software Developer | Mid Level</div>
                                        <div class="h6 mt-0 title">Developer en Digital Harbor Bolivia (05-06-2025 a 01-09-2025)</div>
                                        <p align="justify">Desarrollo de aplicaciones compuestas; En Estados Unidos luego se expandió a India y Bolivia y formó un equipo de trabajo integrado por los tres países. Desarrollo de formularios sociales de la industria</p>
                                    </div>    
                                    <div class="col-lg-6">       
                                        <ul>
                                            <li><strong>Contenido analítico</strong></li>
                                            <ul>
                                                <li>Jira</li>
                                                <li>Automatización</li>
                                                <li>Manejo SqlServer, Mongo, Redis</li>
                                                <li>Servicios de outsourcing</li>
                                                <li>Innovación</li>
                                            </ul>
                                            <li><strong>Tecnologías y lenguajes</strong></li>
                                            <ul>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <li>Microservicios</li>
                                                        <li>SqlServer</li>
                                                        <li>SpringCloud</li>
                                                        <li>Kafka</li>
                                                        <li>ElasticSearch</li>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <li>Java 17</li>
                                                        <li>SpringBoot</li>
                                                        <li>Docker</li>
                                                        <li>Jenkins</li>
                                                        <li>Angular 12</li>
                                                    </div>
                                                </div>   
                                            </ul>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>    
                            <div class="timeline-badge up bg-green">
                                <i class="fas fa-check"></i>
                            </div>
                            <div class="timeline-panel">
                                <div class="row">
                                    <div class="col-lg-6 ">
                                        <div class="h5 mt-0 title">Programador Proyecto CORE</div>
                                        <div class="h6 mt-0 title">Programador en Banco Union S.A. (22-06-2023 a 04-06-2025)</div>
                                        <p align="justify">Desarrollo del nuevo sistema core bancario con tecnologias de microservicios, apigateway, contenedores de los sistemas de productos, captaciones, cajas, legal, notificaciones, accesos y transacciones con contabilidad.</p>
                                    </div>    
                                    <div class="col-lg-6">       
                                        <ul>
                                            <li><strong>Contenido analítico</strong></li>
                                            <ul>
                                                <li>Manejo de Scrum</li>
                                                <li>Pases a producción</li>
                                                <li>Manejo de bases de Datos Oracle</li>
                                                <li>Manejo de sistemas bancarios</li>
                                                <li>Soporte a sponsors </li>
                                            </ul>
                                            <li><strong>Tecnologías y lenguajes</strong></li>
                                            <ul>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <li>Apigateway</li>
                                                        <li>Microservicios</li>
                                                        <li>Angular</li>
                                                        <li>Oracle</li>
                                                        <li>PL/SQL</li>
                                                        <li>Kubernetes</li>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <li>Java 17</li>
                                                        <li>Quarkus</li>
                                                        <li>Docker</li>
                                                        <li>Jenkins</li>
                                                        <li>Vue</li>
                                                    </div>
                                                </div>   
                                            </ul>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>    
                            <div class="timeline-badge up bg-green">
                                <i class="fas fa-check"></i>
                            </div>
                            <div class="timeline-panel">
                                <div class="row">
                                    <div class="col-lg-6 ">
                                        <div class="h5 mt-0 title">Analista de Sistemas</div>
                                        <div class="h6 mt-0 title">Analista en Banco Solidario S.A. (01-02-2023 a 04-05-2023)</div>
                                        <p align="justify">Apoyar al equipo de Tecnologias de la informacion en dar soporte a sistemas de la Entindad Financiera Facturación Elenctronica, Transferencias ACH, Terceros, Giros Nacionales, Giros Internacionales. Pruebas rafaga en varios sistemas, pases a producción de sistemas.</p>
                                    </div>    
                                    <div class="col-lg-6">       
                                        <ul>
                                            <li><strong>Contenido analítico</strong></li>
                                            <ul>
                                                <li>Manejo de Kambas</li>
                                                <li>Pases a producción</li>
                                                <li>Manejo de bases de Datos SQL Server</li>
                                                <li>Manejo de sistemas contabilidad</li>
                                                <li>Soporte a clientes de la entidad</li>
                                            </ul>
                                            <li><strong>Tecnologías y lenguajes</strong></li>
                                            <ul>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <li>Pruebas con JMeter</li>
                                                        <li>Microsoft</li>
                                                        <li>Servidores Windows IIS</li>
                                                        <li>Sistema Bantotal</li>
                                                        <li>Teams</li>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <li>.NET</li>
                                                        <li>GeneXus</li>
                                                        <li>Descartes</li>
                                                        <li>Docker</li>
                                                        <li>Transact-SQL (TSQL)</li>
                                                    </div>
                                                </div>   
                                            </ul>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>    
                            <div class="timeline-badge up bg-green">
                                <i class="fas fa-check"></i>
                            </div>
                            <div class="timeline-panel">
                                <div class="row">
                                    <div class="col-lg-6 ">
                                        <div class="h5 mt-0 title">Desarrollador Full Stack</div>
                                        <div class="h6 mt-0 title">Desarrollador en DazaSoftware S.A. (01-02-2021 a 01-01-2022)</div>
                                        <p align="justify">Desarrollo y Soporte junto al equipo de desrrollo de la Empresa de Dazasoftware S.A. como Full Stack dando actualizaciones en sistemas financieros GAM, DFM, DIA, ACH, GABbot y ademas de dando soporte a clientes en cierre de gestión anual.</p>
                                    </div>    
                                    <div class="col-lg-6">       
                                        <ul>
                                            <li><strong>Contenido analítico</strong></li>
                                            <ul>
                                                <li>Manejo de SCRUM</li>
                                                <li>Metodologias de seguridad</li>
                                                <li>Control de calidad en software</li>
                                                <li>Manejo de bases de Datos Oracle</li>
                                                <li>Manejo de sistemas financieros</li>
                                                <li>Soporte a clientes en software</li>
                                            </ul>
                                            <li><strong>Tecnologías y lenguajes</strong></li>
                                            <ul>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <li>JDeveloper</li>
                                                        <li>Microsoft</li>
                                                        <li>IIS</li>
                                                        <li>Servidores windows</li>
                                                        <li>Reportes Jasper</li>
                                                        <li>SQL Developer</li>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <li>Java</li>
                                                        <li>JavaScript</li>
                                                        <li>Typescript</li>
                                                        <li>Docker</li>
                                                        <li>PHP</li>
                                                        <li>Oracle</li>
                                                    </div>
                                                </div>   
                                            </ul>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-badge up bg-green">
                                <i class="fas fa-check"></i>
                            </div>
                            <div class="timeline-panel">
                                <div class="row">
                                    <div class="col-lg-6 ">
                                        <div class="h5 mt-0 title">Ayudante de Docencia</div>
                                        <div class="h6 mt-0 title">Auxiliar de docencia (01-02-2020 a 31-12-2020)</div>
                                        <p align="justify"> Materia de INF273, LAB273 - Telematica.</p>
                                        <p align="justify">Facilitar y brindar los conocimientos teórico - práctico sobre los conceptos y fundamentos de las redes de computadores para que el estudiante sea capaz de
                                            utilizar, diseñar e implantar diferentes tipos de redes. El curso está diseñado
                                            para proporcionar un claro entendimiento sobre los componentes de las redes y
                                            cómo estas nos permiten compartir información y comunicarnos.</p>
                                    </div>    
                                    <div class="col-lg-6">       
                                        <ul>
                                            <li><strong>Contenido analítico</strong></li>
                                            <ul>
                                                <li>Introducción a las Redes</li>
                                                <li>Redes e Internet</li>
                                                <li>Capa de Aplicación y aplicaciones de red</li>
                                                <li>Capa de Transporte</li>
                                                <li>Capa de Red – Plano de datos</li>
                                                <li>Capa de Red – Plano de Control</li>
                                                <li>Capa de Enlace y redes LANs</li>
                                            </ul>
                                            <li><strong>Tecnologías y lenguajes</strong></li>
                                            <ul>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <li>Git</li>
                                                        <li>Nginx</li>
                                                        <li>Apache</li>
                                                        <li>Bind9</li>
                                                        <li>Postfix</li>
                                                        <li>Packet Tracer</li>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <li>Java</li>
                                                        <li>JavaScript</li>
                                                        <li>Python</li>
                                                        <li>Linux</li>
                                                    </div>
                                                </div>   
                                            </ul>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </li>   
                        <li>
                            <div class="timeline-badge up bg-green">
                                <i class="fas fa-check"></i>
                            </div>
                            <div class="timeline-panel">
                                <div class="row">
                                    <div class="col-lg-6 ">
                                        <div class="h5 mt-0 title">Pasante </div>
                                        <div class="h6 mt-0 title">Becario en el Instituto de Ecologia, UMSA (15-08-2019 a 13-12-2019)</div>
                                        <p align="justify">Desarrollo del SISTEMA WEB DE SEGUIMIENTO Y CONTROL  DE PROYECTOS DE INVESTIGACIÓN,  se enfoca en mejorar el mecanismo de seguimiento y control de los proyectos de investigación  para docentes investigadores del Instituto de Ecología.</p>
                                    </div>    
                                    <div class="col-lg-6">       
                                        <ul>
                                            <li><strong>Funcionalidad central</strong></li>
                                            <ul>
                                                <li>Desarrollo de software</li>
                                                <li>Desarrollo de aplicaciones</li>
                                                <li>Desarrollo web</li>
                                            </ul>
                                            <li><strong>Tecnologías y lenguajes</strong></li>
                                            <ul>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <li>JavaScript</li>
                                                        <li>TypeScript</li>
                                                        <li>PostgreSQL</li>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <li>NodeJS</li>
                                                        <li>Sequelize</li>
                                                        <li>Angular 9+</li>
                                                        <li>Bootstrap 4</li>
                                                    </div>
                                                </div>   
                                            </ul>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
    </div>
</div>
        