<div class="section" id="experience">
    <div class="container py-2 cc-experience">
        <div class="h4 text-center mb-4 title">Experiencia laboral</div>
                <div class="row">
                    <ul class="timeline">
                        <li>    
                            <div class="timeline-badge up bg-green">
                                <i class="fas fa-check"></i>
                            </div>
                            <div class="timeline-panel">
                                <div class="row">
                                    <div class="col-lg-6 ">
                                        <div class="h5 mt-0 title">Técnico I – Técnico en Desarrollo de Sistemas I</div>
                                        <div class="h6 mt-0 title">Desarrollador en Ministerio de Gobierno (26-09-2025 a 31-12-2025)</div>
                                        <p align="justify">DESARROLLO FULL STACK EN EN TECNOLOGIAS FRONTEND ANGULAR 17, NG-PRIME, TYPESCRIPT Y BACKEND NESTJS TYPESCRIPT POSTGRESQL Y CMS DRUPAL. PORTAL INSTITUCIONAL OBSCD, SISTEMA DE INFORMACION NACIONAL DE ALERTAS TEMPRANAS SOBRE DROGAS (SINATD), SISTEMA NACIONAL DE INFORMACION SOBRE SEGURIDAD ESTATAL (SNISE).</p>
                                    </div>    
                                    <div class="col-lg-6">       
                                        <ul>
                                            <li><strong>Contenido analítico</strong></li>
                                            <ul>
                                                <li>Alertas Tempranas</li>
                                                <li>Cordinar con Entidades</li>
                                                <li>Manejo Graficas (Dashboard)</li>
                                                <li>Despliegue de Aplicaciones</li>
                                                <li>Portales web</li>
                                            </ul>
                                            <li><strong>Tecnologías y lenguajes</strong></li>
                                            <ul>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <li>Microservicios</li>
                                                        <li>PostgreSQL</li>
                                                        <li>Drupal</li>
                                                        <li>Metabase</li>
                                                        <li>NextCloud</li>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <li>Typescript</li>
                                                        <li>NestJS</li>
                                                        <li>Docker</li>
                                                        <li>Gitlab</li>
                                                        <li>Angular 18</li>
                                                    </div>
                                                </div>   
                                            </ul>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>    
                            <div class="timeline-badge up bg-green">
                                <i class="fas fa-check"></i>
                            </div>
                            <div class="timeline-panel">
                                <div class="row">
                                    <div class="col-lg-6 ">
                                        <div class="h5 mt-0 title">Software Developer | Mid Level</div>
                                        <div class="h6 mt-0 title">Developer en Digital Harbor Bolivia (05-06-2025 a 01-09-2025)</div>
                                        <p align="justify">DESARROLLO EN EL EQUIPO DE BACKEND CON TECNOLOGIAS JAVA 17 FRAMEWORK SPRINGBOOT ELASTICSEARCH, APIREST, SOAP, KAFKA, CACHE REDIS, WEBSOCKETS, GATEWAY, DISCOVERY Y TAMBIEN BACKEND CON TECNOLOGIAS PYTHON DJANGO CON BASES DE DATOS SQL SERVER Y POSTGRESQL SE PARTICIPO EN PROYECTOS DE SOCIAL TEXT.</p>
                                    </div>    
                                    <div class="col-lg-6">       
                                        <ul>
                                            <li><strong>Contenido analítico</strong></li>
                                            <ul>
                                                <li>Jira</li>
                                                <li>Automatización</li>
                                                <li>Manejo SqlServer, Mongo, Redis</li>
                                                <li>Servicios de outsourcing</li>
                                                <li>Innovación</li>
                                            </ul>
                                            <li><strong>Tecnologías y lenguajes</strong></li>
                                            <ul>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <li>Microservicios</li>
                                                        <li>SqlServer</li>
                                                        <li>SpringCloud</li>
                                                        <li>Kafka</li>
                                                        <li>ElasticSearch</li>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <li>Java 17</li>
                                                        <li>SpringBoot</li>
                                                        <li>Docker</li>
                                                        <li>Jenkins</li>
                                                        <li>Angular 12</li>
                                                    </div>
                                                </div>   
                                            </ul>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>    
                            <div class="timeline-badge up bg-green">
                                <i class="fas fa-check"></i>
                            </div>
                            <div class="timeline-panel">
                                <div class="row">
                                    <div class="col-lg-6 ">
                                        <div class="h5 mt-0 title">Programador Proyecto CORE</div>
                                        <div class="h6 mt-0 title">Programador en Banco Union S.A. (22-06-2023 a 04-06-2025)</div>
                                        <p align="justify">DESARROLLO DEL NUEVO CORE BANCARIA EN LENGUAJES DE PROGRAMACION JAVA8, JAVA11, JAVA17, ANGULAR 2 Y BASE DE DATOS ORACLE, PL/SQL. TECNOLOGIAS ACTUALES MICROSERVICIOS CON CONTENEDORES DOCKER, JAVA-QUARKUS, VUE3-TYPESCRIPT Y BASE DE DATOS SQL SERVER, SERVIDOR WILDFLY. APLICANDO METODOLOGIA AGIL SCRUM CON PLANNER ASI CORDINANDO CON EL ARQUITECTO DE SOFTWARE. SE PARTICIPO EN PROYECTOS DE APIGATEWAY, PARAMETROS, ACCESOS, CAPTACIONES, CAJAS. COMO LOGRO MI PERSONA LOGRO CAPACITAR A PERSONAL DE ATENCION A CLIENTE EN PANDO, ASI CAPTURANDO CONVIVENCIA DE UNIBANCA Y UNICORE. TAMBIEN SE CAPACITO A EMPRESAS EXTERNAS A BANCOUNION QUE PROVEIAN MODULOS, CAPACITANDOLOS EN COMO MANEJAMOS LAS TECNOLOGIAS EN UNICORE.</p>
                                    </div>    
                                    <div class="col-lg-6">       
                                        <ul>
                                            <li><strong>Contenido analítico</strong></li>
                                            <ul>
                                                <li>Manejo de Scrum</li>
                                                <li>Pases a producción</li>
                                                <li>Manejo de bases de Datos Oracle</li>
                                                <li>Manejo de sistemas bancarios</li>
                                                <li>Soporte a sponsors </li>
                                            </ul>
                                            <li><strong>Tecnologías y lenguajes</strong></li>
                                            <ul>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <li>Apigateway</li>
                                                        <li>Microservicios</li>
                                                        <li>Angular</li>
                                                        <li>Oracle</li>
                                                        <li>PL/SQL</li>
                                                        <li>Kubernetes</li>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <li>Java 17</li>
                                                        <li>Quarkus</li>
                                                        <li>Docker</li>
                                                        <li>Jenkins</li>
                                                        <li>Vue</li>
                                                    </div>
                                                </div>   
                                            </ul>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>    
                            <div class="timeline-badge up bg-green">
                                <i class="fas fa-check"></i>
                            </div>
                            <div class="timeline-panel">
                                <div class="row">
                                    <div class="col-lg-6 ">
                                        <div class="h5 mt-0 title">Analista de Sistemas</div>
                                        <div class="h6 mt-0 title">Analista en Banco Solidario S.A. (01-02-2023 a 04-05-2023)</div>
                                        <p align="justify">APOYO CON MESAS DE AYUDA RESPECTO CON BASE DE DATOS SQL SERVER CON EL CORE BANTOTAL, SERVICIOS EN SQL SERVER – TSQL, SISTEMA DE FACTURACION ELECTRONICA, VU FRAUD, PRUEBAS RAFAGA DE SERVICIOS WEB Y ADEMAS DE PASES A PRODUCCION DE SISTEMAS. LENGUAJES DE PROGRAMACION JAVA, .NET CORE, GENEXUS, DESCARTES, JMETER. TODO APLICANDO LA METODOLOGIA AGIL KANBAN (PORTOFOLIOS).</p>
                                    </div>    
                                    <div class="col-lg-6">       
                                        <ul>
                                            <li><strong>Contenido analítico</strong></li>
                                            <ul>
                                                <li>Manejo de Kambas</li>
                                                <li>Pases a producción</li>
                                                <li>Manejo de bases de Datos SQL Server</li>
                                                <li>Manejo de sistemas contabilidad</li>
                                                <li>Soporte a clientes de la entidad</li>
                                            </ul>
                                            <li><strong>Tecnologías y lenguajes</strong></li>
                                            <ul>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <li>Pruebas con JMeter</li>
                                                        <li>Microsoft</li>
                                                        <li>Servidores Windows IIS</li>
                                                        <li>Sistema Bantotal</li>
                                                        <li>Teams</li>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <li>.NET</li>
                                                        <li>GeneXus</li>
                                                        <li>Descartes</li>
                                                        <li>Docker</li>
                                                        <li>Transact-SQL (TSQL)</li>
                                                    </div>
                                                </div>   
                                            </ul>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>    
                            <div class="timeline-badge up bg-green">
                                <i class="fas fa-check"></i>
                            </div>
                            <div class="timeline-panel">
                                <div class="row">
                                    <div class="col-lg-6 ">
                                        <div class="h5 mt-0 title">Desarrollador Full Stack</div>
                                        <div class="h6 mt-0 title">Desarrollador en DazaSoftware S.A. (01-02-2021 a 01-01-2022)</div>
                                        <p align="justify">EMPRESA DE TECNOLOGIA FINANCIERA, DESARROLLO DE SISTEMAS CON TECNOLOGIAS ORACLE PL/SQL POR LA SOLIDEZ, JAVA, JDEVELOPER, ORACLE FORMS, FLUTTER. PRODUCTOS MOVILES Y WEBS DESARROLLADOS: GAM - SOFTWARE PARA ADMINISTRACION DE ACTIVOS FINANCIEROS, DFM - SOFTWARE PARA LA ADMINISTRACION DE FONDOS DE INVERSION, ACH - SISTEMA CLIENTE PARA LA RED INTERBANCARIA.</p>
                                    </div>    
                                    <div class="col-lg-6">       
                                        <ul>
                                            <li><strong>Contenido analítico</strong></li>
                                            <ul>
                                                <li>Manejo de SCRUM</li>
                                                <li>Metodologias de seguridad</li>
                                                <li>Control de calidad en software</li>
                                                <li>Manejo de bases de Datos Oracle</li>
                                                <li>Manejo de sistemas financieros</li>
                                                <li>Soporte a clientes en software</li>
                                            </ul>
                                            <li><strong>Tecnologías y lenguajes</strong></li>
                                            <ul>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <li>JDeveloper</li>
                                                        <li>Microsoft</li>
                                                        <li>IIS</li>
                                                        <li>Servidores windows</li>
                                                        <li>Reportes Jasper</li>
                                                        <li>SQL Developer</li>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <li>Java</li>
                                                        <li>JavaScript</li>
                                                        <li>Typescript</li>
                                                        <li>Docker</li>
                                                        <li>PHP</li>
                                                        <li>Oracle</li>
                                                    </div>
                                                </div>   
                                            </ul>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-badge up bg-green">
                                <i class="fas fa-check"></i>
                            </div>
                            <div class="timeline-panel">
                                <div class="row">
                                    <div class="col-lg-6 ">
                                        <div class="h5 mt-0 title">Ayudante de Docencia</div>
                                        <div class="h6 mt-0 title">Auxiliar de docencia (01-02-2020 a 31-12-2020)</div>
                                        <p align="justify"> Materia de INF273, LAB273 - Telematica.</p>
                                        <p align="justify">FACILITAR Y BRINDAR LOS CONOCIMIENTOS TEÓRICO - PRÁCTICO SOBRE LOS CONCEPTOS Y FUNDAMENTOS DE LAS REDES DE COMPUTADORES PARA QUE EL ESTUDIANTE SEA CAPAZ DE UTILIZAR, DISEÑAR E IMPLANTAR DIFERENTES TIPOS DE REDES. EL CURSO ESTÁ DISEÑADO PARA PROPORCIONAR UN CLARO ENTENDIMIENTO SOBRE LOS COMPONENTES DE LAS REDES Y CÓMO ESTAS NOS PERMITEN COMPARTIR INFORMACIÓN Y COMUNICARNOS.</p>
                                    </div>    
                                    <div class="col-lg-6">       
                                        <ul>
                                            <li><strong>Contenido analítico</strong></li>
                                            <ul>
                                                <li>Introducción a las Redes</li>
                                                <li>Redes e Internet</li>
                                                <li>Capa de Aplicación y aplicaciones de red</li>
                                                <li>Capa de Transporte</li>
                                                <li>Capa de Red – Plano de datos</li>
                                                <li>Capa de Red – Plano de Control</li>
                                                <li>Capa de Enlace y redes LANs</li>
                                            </ul>
                                            <li><strong>Tecnologías y lenguajes</strong></li>
                                            <ul>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <li>Git</li>
                                                        <li>Nginx</li>
                                                        <li>Apache</li>
                                                        <li>Bind9</li>
                                                        <li>Postfix</li>
                                                        <li>Packet Tracer</li>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <li>Java</li>
                                                        <li>JavaScript</li>
                                                        <li>Python</li>
                                                        <li>Linux</li>
                                                    </div>
                                                </div>   
                                            </ul>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </li>   
                        <li>
                            <div class="timeline-badge up bg-green">
                                <i class="fas fa-check"></i>
                            </div>
                            <div class="timeline-panel">
                                <div class="row">
                                    <div class="col-lg-6 ">
                                        <div class="h5 mt-0 title">Pasante </div>
                                        <div class="h6 mt-0 title">Becario en el Instituto de Ecologia, UMSA (15-08-2019 a 13-12-2019)</div>
                                        <p align="justify">DESARROLLO DEL SISTEMA WEB DE SEGUIMIENTO Y CONTROL  DE PROYECTOS DE INVESTIGACIÓN,  SE ENFOCA EN MEJORAR EL MECANISMO DE SEGUIMIENTO Y CONTROL DE LOS PROYECTOS DE INVESTIGACIÓN  PARA DOCENTES INVESTIGADORES DEL INSTITUTO DE ECOLOGÍA.</p>
                                    </div>    
                                    <div class="col-lg-6">       
                                        <ul>
                                            <li><strong>Funcionalidad central</strong></li>
                                            <ul>
                                                <li>Desarrollo de software</li>
                                                <li>Desarrollo de aplicaciones</li>
                                                <li>Desarrollo web</li>
                                            </ul>
                                            <li><strong>Tecnologías y lenguajes</strong></li>
                                            <ul>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <li>JavaScript</li>
                                                        <li>TypeScript</li>
                                                        <li>PostgreSQL</li>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <li>NodeJS</li>
                                                        <li>Sequelize</li>
                                                        <li>Angular 9+</li>
                                                        <li>Bootstrap 4</li>
                                                    </div>
                                                </div>   
                                            </ul>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
    </div>
</div>
        