<div class="section" id="about">
    <div class="container">
        <div class="card" data-aos="fade-up" data-aos-offset="10">
            <div class="row">
                <div class="col-lg-6 col-md-12">
                    <div class="card-body">
                        <div class="h4 mt-0 title">Sobre mí</div>
                            <p align="justify">Desde muy joven, siempre he tenido un sentido de motivación y pasión a las tecnologias que me impulsa hacia adelante. Ya sea que esté explorando oportunidades únicas, aprendiendo habilidades adicionales o conociendo gente nueva, aporto estos valores a cada experiencia a lo largo de mi vida a nivel personal y profesional.</p>
                            <p align="justify">Amante de la innovación tecnologica y todo lo relacionado con la generación de nuevas tecnologias, afrontó los problemas con una sonrisa y lo resuelvó lo antes posible.</p>
                            <p align="justify">Para obtener más información sobre mí, siga explorando mi sitio o comuníquese directamente.</p>
                    </div>
                </div>    
                <div class="col-lg-6 col-md-12">       
                    <div class="card-body">
                        <div class="h4 mt-0 title">Información básica</div>
                        <!-- <div class="row">
                            <div class="col-sm-4">
                                <strong class="text-uppercase">Edad:</strong>
                            </div>
                            <div class="col-sm-8">24 años</div>
                        </div> -->
                        <div class="row mt-4">
                            <div class="col-sm-4">
                                <strong class="text-uppercase">Email:</strong>
                            </div>
                            <div class="col-sm-8">borisvargaspaucara@gmail.com</div>
                        </div>
                        <div class="row mt-4">
                            <div class="col-sm-4">
                                <strong class="text-uppercase">No Celular:</strong>
                            </div>
                            <div class="col-sm-8">+591 60514138</div>
                        </div>
                        <div class="row mt-4">
                            <div class="col-sm-4">
                                <strong class="text-uppercase">Dirección:</strong>
                            </div>
                            <div class="col-sm-8">La Paz, Bolivia</div>
                        </div>
                        <div class="row mt-4">
                            <div class="col-sm-4">
                                <strong class="text-uppercase">Idioma:</strong>
                            </div>
                            <div class="col-sm-8">Español, English</div>
                        </div>
                     </div>
                </div>
            </div>
        </div>
    </div>
</div>

