<div class="section" id="education">
    <div class="container cc-education">
        <div class="h4 text-center mb-4 title">Educación</div>
            <div class="card">
                <div class="row">
                    <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
                        <div class="card-body cc-education-header">
                            <p>2023-Actualmente</p>
                        <div class="h5">Diplomatura</div>
                        </div>    
                    </div>
                    <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                        <div class="card-body">
                            <div class="h4">Postgrado, Universidad del Valle (UNIVALLE)</div>
                                <h4 class="category">Auditoría Informática</h4>
                                <ul>
                                    <li>Terminado <b>40%</b></li>
                                </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="row">
                    <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
                        <div class="card-body cc-education-header">
                            <p>2015-2021</p>
                        <div class="h5">Licenciatura</div>
                        </div>    
                    </div>
                    <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                        <div class="card-body">
                            <div class="h4">Informatica, Universidad Mayor de San Andres (UMSA)</div>
                                <h4 class="category">Ingenieria de Sistemas Informaticos</h4>
                                <ul>
                                    <li>Promedio general <b>70.61</b></li>
                                </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="row">
                    <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
                        <div class="card-body cc-education-header">
                            <p>2018-2020</p>
                        <div class="h5">Tecnico</div>
                        </div>    
                    </div>
                    <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                        <div class="card-body">
                            <div class="h4">Centro de Enseñanza y Traducción de Idiomas (CETI)</div>
                            <h4 class="category">Ingles</h4>
                            <ul>
                                <li>Terminado con <b>85%</b></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="row">
                    <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
                        <div class="card-body cc-education-header">
                            <p>2010-2013</p>
                        <div class="h5">Escuela secundaria</div>
                        </div>    
                    </div>
                    <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                        <div class="card-body">
                            <div class="h4">Colegio La Salle, La Paz - Bolivia</div>
                                <h4 class="category">Bachiller en Humanidades</h4>
                                <ul>
                                    <li>Diploma de asistencia</li>
                                </ul>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</div>                                               